li {
  list-style: none;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border: 2px solid black;
  width: 300px;
  gap: 1rem;
}

li img {
  width: 100%;
  border-bottom: 2px solid black;
}

ul {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  flex-wrap: wrap;
  margin-top: 2rem;
}

.details {
  display: flex;
  align-items: start;
  flex-direction: column;
  justify-content: center;
  padding: 1rem;
  gap: 1rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
}